<!doctype html>
<head>
    <title> Club Details - Lisnagarvey Hockey Club</title>
    <link rel="icon" type="image/png" href="C:\Users\Micha_000\Desktop\images/lhc.png" size="16x16">
	<link rel="stylesheet" type="text/css" href="cstyles.css"</link>
    <link rel="bootstrap" type="text/css" href="bootstrap.css"</link>
<head>

<body>

<header align="center">
    <a href="C:\Users\Micha_000\Desktop\hockey\homepage.html"><img src="C:\Users\Micha_000\Desktop\images/header.png" height="250" width="150"></img></a>
    <center> <a href="https://www.facebook.com/Lisnagarvey-Hockey-Club-127536638283/"><img src="C:\Users\Micha_000\Documents\My Web Sites\mysite\images/facebook.jpg" height="25" width="25"></img></a>
    <a href="https://twitter.com/lisnagarveyhc?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><img src="C:\Users\Micha_000\Documents\My Web Sites\mysite\images/twitter.jpg" height="25" width="25"></img></a></center>
</header>

<div id="nav">
<nav align="center">
    <ul>
        <li><a href="C:\Users\Micha_000\Desktop\hockey\homepage.html">Home</a>
             <li><a href="C:\Users\Micha_000\Desktop\hockey\clubdetails.html">Club Details</a>
            <ul>
                <li><a href="C:\Users\Micha_000\Desktop\hockey\clubcalendar.html">Club Calender</a></li>
                <li><a href="C:\Users\Micha_000\Desktop\hockey\news.html">News</a></li>
        </li>
    </ul>
    <li><a href="C:\Users\Micha_000\Desktop\hockey\aboutus.html">About Us</a>
            <ul>
                <li><a href="C:\Users\Micha_000\Desktop\hockey\contactus.html">Contact Us</a></li>
                <li><a href="C:\Users\Micha_000\Desktop\hockey\sponsors.html">Sponsors</a>
                </li>
            </ul>
        </li>
        </li>
        <li><a href="C:\Users\Micha_000\Desktop\hockey\teams.html">Teams</a>
            <ul>
                <li><a href="C:\Users\Micha_000\Desktop\hockey\mens1.html">Mens 1</a></li>
                <li><a href="C:\Users\Micha_000\Desktop\hockey\womens1.html">Womens 1</a></li>
            </ul>
        </li>
       <li><a href="http://www.teamshopbuilder.co.uk/lisnagarveyhockeyclub/findProdByShopId.action">Club Shop</a></li>
    </ul>
</nav>
</div>
<hr>
<center><p style="font-size:50px"><font face="georgia" color="white">Club Details</font></p></center>
<hr>
<center><p style="font-size:40px"><font face="georgia" color="black">Representatives</font></p></center>
<hr>

<div class="container">
    <div class="column-left">
        
            <center><img style="border:5px solid; color:black" img src="C:\Users\Micha_000\Desktop\images/reps.jpg" height="200" width="300"></img></center>
            <center><img style="border:5px solid; color:black" img src="C:\Users\Micha_000\Desktop\images/reps1.jpg" height="200" width="300"></img></center>
            <center><img style="border:5px solid; color:black" img src="C:\Users\Micha_000\Desktop\images/green.jpg" height="200" width="300"></img></center>
    </div>

    <div class="column-right">
        <center><img style="border:5px solid; color:black" img src="C:\Users\Micha_000\Desktop\images/reps3.jpg" height="200" width="300"></img></center>
        <center><img style="border:5px solid; color:black" img src="C:\Users\Micha_000\Desktop\images/reps4.jpg" height="200" width="300"></img></center>
        <center><img style="border:5px solid; color:black" img src="C:\Users\Micha_000\Desktop\images/reps5.jpg" height="200" width="300"></img></center>
    </div>

    <div class="column-center">
        <center><img style="border:5px solid; color:black" img src="C:\Users\Micha_000\Desktop\images/reps6.jpg" height="200" width="300"></img></center>
        <center><img style="border:5px solid; color:black" img src="C:\Users\Micha_000\Desktop\images/reps7.jpg" height="200" width="300"></img></center>
        <center><img style="border:5px solid; color:black" img src="C:\Users\Micha_000\Desktop\images/reps8.jpg" height="200" width="300"></img></center>

    </div>
<hr>
<center><p style="font-size:40px"><font face="georgia" color="black">Videos</font></p></center>
<hr>
<center><p style="font-size:25px"><font face="georgia" color="black">ISC Quarter Final v Railway Union</font></p></center><hr>
  <center><video width="400" controls>
  <source src="http://videos.pitchero.com/869353_1454354962.mp4" type="video/mp4">
</video></center>
<hr>

<center><p style="font-size:25px"><font face="georgia" color="black">EY Hockey League - Round 9 Goals - Railway Union (a)</font></p></center><hr>
  <center><video width="400" controls>
  <source src="http://videos.pitchero.com/869353_1451761510.mp4" type="video/mp4">
</video></center>
<hr>

<center><p style="font-size:25px"><font face="georgia" color="black">Goal v TRR IHL</font></p></center><hr>
  <center><video width="400" controls>
  <source src="http://videos.pitchero.com/869353_1403876701.mp4" type="video/mp4">
</video></center>
<hr>

<center><p style="font-size:25px"><font face="georgia" color="black">IHL Winners 2012</font></p></center><hr>
  <center><video width="400" controls>
  <source src="http://videos.pitchero.com/869353_1403905201.mp4" type="video/mp4">
</video></center>
<hr>
<footer>
</footer>

</body>
</html>