<!doctype html>
<head>
    <title> Club Details - Lisnagarvey Hockey Club</title>
    <link rel="icon" type="image/png" href="../images/lhc.png" size="16x16">
	<link rel="stylesheet" type="text/css" href="../css/styles.css"</link>
    <link rel="bootstrap" type="text/css" href="../css/bootstrap.css"</link>
<head>

<body id="club-details">

<header align="center">
    <a href="../index.html"><img src="../images/header.png" height="250" width="150"></img></a>
    <center> <a href="https://www.facebook.com/Lisnagarvey-Hockey-Club-127536638283/"><img src="../images/facebook.jpg" height="25" width="25"></img></a>
    <a href="https://twitter.com/lisnagarveyhc?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><img src="../images/twitter.jpg" height="25" width="25"></img></a></center>
</header>

<div id="nav">
<nav align="center">
    <ul>
        <li><a href="../index.html">Home</a>
             <li><a href="clubdetails.html">Club Details</a>
            <ul>
                <li><a href="clubcalendar.html">Club Calender</a></li>
                <li><a href="news.html">News</a></li>
        </li>
    </ul>
    <li><a href="aboutus.html">About Us</a>
            <ul>
                <li><a href="contactus.html">Contact Us</a></li>
                <li><a href="sponsors.html">Sponsors</a>
                </li>
            </ul>
        </li>
        </li>
        <li><a href="teams.html">Teams</a>
            <ul>
                <li><a href="mens1.html">Mens 1</a></li>
                <li><a href="womens1.html">Womens 1</a></li>
            </ul>
        </li>
       <li><a href="http://www.teamshopbuilder.co.uk/lisnagarveyhockeyclub/findProdByShopId.action">Club Shop</a></li>
    </ul>
</nav>
</div>
<hr>
<center><p style="font-size:50px"><font face="georgia" color="white">Club Details</font></p></center>
<hr>
<center><p style="font-size:40px"><font face="georgia" color="black">Representatives</font></p></center>
<hr>

<div class="container">
    <div>
        <center>
            <img style="border:5px solid; color:black" img src="../images/reps.jpg" height="200" width="300"></img>
            <img style="border:5px solid; color:black" img src="../images/reps1.jpg" height="200" width="300"></img>
            <img style="border:5px solid; color:black" img src="../images/green.jpg" height="200" width="300"></img>
        </center>
    </div>
    <div>
        <center>
            <img style="border:5px solid; color:black" img src="../images/reps3.jpg" height="200" width="300"></img>
            <img style="border:5px solid; color:black" img src="../images/reps4.jpg" height="200" width="300"></img>
            <img style="border:5px solid; color:black" img src="../images/reps5.jpg" height="200" width="300"></img>
        </center>
    </div>
    <div>
        <center>
            <img style="border:5px solid; color:black" img src="../images/reps6.jpg" height="200" width="300"></img>
            <img style="border:5px solid; color:black" img src="../images/reps7.jpg" height="200" width="300"></img>
            <img style="border:5px solid; color:black" img src="../images/reps8.jpg" height="200" width="300"></img>
        </center>
    </div>
</div>
<hr>
<center><p style="font-size:40px"><font face="georgia" color="black">Videos</font></p></center>
<hr>
<center><p style="font-size:25px"><font face="georgia" color="black">ISC Quarter Final v Railway Union</font></p></center><hr>
  <center><video width="400" controls>
  <source src="http://videos.pitchero.com/869353_1454354962.mp4" type="video/mp4">
</video></center>
<hr>

<center><p style="font-size:25px"><font face="georgia" color="black">EY Hockey League - Round 9 Goals - Railway Union (a)</font></p></center><hr>
  <center><video width="400" controls>
  <source src="http://videos.pitchero.com/869353_1451761510.mp4" type="video/mp4">
</video></center>
<hr>

<center><p style="font-size:25px"><font face="georgia" color="black">Goal v TRR IHL</font></p></center><hr>
  <center><video width="400" controls>
  <source src="http://videos.pitchero.com/869353_1403876701.mp4" type="video/mp4">
</video></center>
<hr>

<center><p style="font-size:25px"><font face="georgia" color="black">IHL Winners 2012</font></p></center><hr>
  <center><video width="400" controls>
  <source src="http://videos.pitchero.com/869353_1403905201.mp4" type="video/mp4">
</video></center>
<hr>
<footer>
</footer>

</body>
</html>