<!doctype html>
<head>
    <title> Contact Us - Lisnagarvey Hockey Club</title>
    <link rel="icon" type="image/png" href="../images/lhc.png" size="16x16">
	<link rel="stylesheet" type="text/css" href="../css/styles.css"</link>
    <link rel="bootstrap" type="text/css" href="../css/bootstrap.css"</link>
<head>

<body id="contact-us">

<header align="center">
    <a href="../index.html"><img src="../images/header.png" height="250" width="150"></img></a>
<center> <a href="https://www.facebook.com/Lisnagarvey-Hockey-Club-127536638283/"><img src="../images/facebook.jpg" height="25" width="25"></img></a>
    <a href="https://twitter.com/lisnagarveyhc?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><img src="../images/twitter.jpg" height="25" width="25"></img></a></center>
</header>

<div id="nav">
<nav align="center">
    <ul>
        <li><a href="../index.html">Home</a>
        <li><a href="clubdetails.html">Club Details</a>
            <ul>
                <li><a href="clubcalendar.html">Club Calender</a></li>
                <li><a href="news.html">News</a></li>
            </ul>
        </li>
        </li>
         <li><a href="aboutus.html">About Us</a>
            <ul>
                <li><a href="sponsors.html">Sponsors</a>  
                </li>
            </ul>
        </li>
        <li><a href="teams.html">Teams</a>
            <ul>
                <li><a href="mens1.html">Mens 1</a></li>
                <li><a href="womens1.html">Womens 1</a></li>
            </ul>
        </li>
       <li><a href="http://www.teamshopbuilder.co.uk/lisnagarveyhockeyclub/findProdByShopId.action">Club Shop</a></li>
        </li>
    </ul>
</nav>
</div>
<hr>
<center><p style="font-size:50px"><font face="georgia" color="white">Contact Us</font></p></center>
<hr>
<div class="container">
      <center><p style="font-size:15px"><font face="georgia" color="white">If you have a query about the club, it's members or otherwise then please contact us via these contact details.</font></p></center>
      <center><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2319.122844776683!2d-6.066012248501091!3d54.460768298255836!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486104c4d8a54117%3A0x47d298c13e9e584c!2sLisnagarvey+Hockey+Club!5e0!3m2!1sen!2suk!4v1456227704573" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe></center>
<hr>
    <div class="column-left"><font face="georgia" color="white"><p style="width=50px;"><font size="6"><center>Directions</center></p></font>
<font face="georgia" color="white"><p style="width=30px;"><font size="6"><center>2 Comber Road Hillsborough Co. Down BT26 6LN</center></p></font>


    </div>
        <div class="column-right"><font face="georgia" color="white"><p style="width=50px;"><font size="6"><center>Telephone</center></p></font>
    <font face="georgia" color="white"><p style="width=50px;"><font size="6"><center>02892681144</center></p></font>
        </div>
</div>

<footer>
</footer>

</body>
</html>
