<!doctype html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/styles.css"</link>
    <link rel="bootstrap" type="text/css" href="../css/bootstrap.css"</link>
<head>

<body>

<header align="center">
   <a href="../index.html"><img src="../images/header.png" height="250" width="150"></img></a>
</header>

<div id="nav">
<nav align="center">
    <ul>
        <li><a href="../index.html">Home</a>
        <li><a href="clubdetails.html">Club Details</a>
            <ul>
                <li><a href="clubcalendar.html">Club Calender</a></li>
                <li><a href="news.html">News</a></li>
            </ul>
        </li>
        </li>
        <li><a href="aboutus.html">About Us</a>
            <ul>
                <li><a href="contactus.html">Contact Us</a></li>
                <li><a href="sponsors.html">Sponsors</a>
                </li>
            </ul>
        </li>
        <li><a href="teams.html">Teams</a>
            <ul>
                <li><a href="mens1.html">Mens 1</a></li>
                <li><a href="womens1.html">Womens 1</a></li>
            </ul>
        </li>
       <li><a href="store.htm">Store</a>
            <ul>
                <li><a href="http://www.teamshopbuilder.co.uk/lisnagarveyhockeyclub/findProdByShopId.action">Club Shop</a></li>
        </li>
    </ul>
</nav>
</div>
<hr>
<center><p style="font-size:50px">Who are we?</p></center>
<hr>

<div id="marquee">
    <marquee behavior="scroll" direction="left">
        <img style="border:5px solid" src="../images/one.png">
        <img style="border:5px solid" src="../images/two.png">
        <img style="border:5px solid" src="../images/three.png">
    </marquee>
</div>
<hr>


<div id="content">
<p style="font-size:20px">AAAAA</p>
</div>

<div id="rightside">
<p>DDDDDDDDDDDD</p>
</div>


<footer>
</footer>

</body>
</html>
