<!doctype html>
<head>
	<link rel="stylesheet" type="text/css" href="styles.css"</link>
    <link rel="bootstrap" type="text/css" href="bootstrap.css"</link>
<head>

<body>

<header align="center">
    <img src="http://3f0deaccb1aa82639310-619b260bfa343946dfd400ce4b125a79.r85.cf3.rackcdn.com/LOGOM-6330.png" height="250" width="150"></img>
</header>


<nav align="center">
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="C:\Users\Micha_000\Desktop\Beep\Example2.html">About Us</a>
            <ul>
                <li><a href="#">Teams</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Sponsors</a>
                    <ul>
                        <li><a href="#">Equipment Sponsors</a></li>
                        <li><a href="#">Other Sponsors</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="#">Teams</a>
            <ul>
                <li><a href="#">Mens 1</a></li>
                <li><a href="#">Womens 1</a></li>
            </ul>
        </li>
        <li><a href="#">Inspiration</a>
            <ul>
                <li><a href="#">Example</a></li>
        </li>
        <li><a href="#">Bleep</a>
            <ul>
                <li><a href="#">Example2</a></li>
    </ul>
</nav>
<hr>
<img src="http://3f0deaccb1aa82639310-619b260bfa343946dfd400ce4b125a79.r85.cf3.rackcdn.com/LOGOM-6330.png" height="250" width="150"></img>
</body>

<footer>
</footer>

</html>
