<!doctype html>
<head>
    <title> Membership - Lisnagarvey Hockey Club</title>
    <link rel="icon" type="image/png" href="C:\Users\Micha_000\Desktop\images/lhc.png" size="16x16">
  <link rel="stylesheet" type="text/css" href="astyles.css"</link>
    <link rel="bootstrap" type="text/css" href="bootstrap.css"</link>
<head>

<body>

<header align="center">
    <a href="C:\Users\Micha_000\Desktop\hockey\homepage.html"><img src="C:\Users\Micha_000\Desktop\images/header.png" height="250" width="150"></img></a>
</header>
    <center><a href="https://www.facebook.com/Lisnagarvey-Hockey-Club-127536638283/"><img src="C.jpg" height="25" width="25"></img></a>
    <a href="https://twitter.com/lisnagarveyhc?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><img src="C:\Users\Micha_000\Documents\My Web Sites\mysite\images/twitter.jpg" height="25" width="25"></img></a></center>
<div id="nav">
<nav align="center">
    <ul>
        <li><a href="C:\Users\Micha_000\Desktop\hockey\homepage.html">Home</a>
        <li><a href="C:\Users\Micha_000\Desktop\hockey\clubdetails.html">Club Details</a>
            <ul>
                <li><a href="C:\Users\Micha_000\Desktop\hockey\clubcalendar.html">Club Calender</a></li>
                <li><a href="C:\Users\Micha_000\Desktop\hockey\news.html">News</a></li>
            </ul>
        </li>
        </li>
         <li><a href="C:\Users\Micha_000\Desktop\hockey\aboutus.html">About Us</a>
            <ul>
                <li><a href="C:\Users\Micha_000\Desktop\hockey\contactus.html">Contact Us</a></li>
                <li><a href="C:\Users\Micha_000\Desktop\hockey\sponsors.html">Sponsors</a>
                </li>
            </ul>
        </li>
        <li><a href="C:\Users\Micha_000\Desktop\hockey\teams.html">Teams</a>
            <ul>
                <li><a href="C:\Users\Micha_000\Desktop\hockey\mens1.html">Mens 1</a></li>
                <li><a href="C:\Users\Micha_000\Desktop\hockey\womens1.html">Womens 1</a></li>
            </ul>
        </li>
               <li><a href="http://www.teamshopbuilder.co.uk/lisnagarveyhockeyclub/findProdByShopId.action">Club Shop</a></li>
        </li>
    </ul>
</nav>
</div>
<hr>
<center><p style="font-size:50px"><font face="georgia" color="white">Membership</font></p></center>
<hr>


<footer>
</footer>
</body>
</html>


