<!doctype html>
<head>
    <title> News - Lisnagarvey Hockey Club</title>
    <link rel="icon" type="image/png" href="../images/lhc.png" size="16x16">
    <link rel="stylesheet" type="text/css" href="../css/styles.css"</link>
    <link rel="bootstrap" type="text/css" href="../css/bootstrap.css"</link>
<head>

<body id="news">

<header align="center">
    <a href="../index.html"><img src="../images/header.png" height="250" width="150"></img></a>
    <center> <a href="https://www.facebook.com/Lisnagarvey-Hockey-Club-127536638283/"><img src="../images/facebook.jpg" height="25" width="25"></img></a>
    <a href="https://twitter.com/lisnagarveyhc?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><img src="../images/twitter.jpg" height="25" width="25"></img></a></center>
</header>

<div id="nav">
<nav align="center">
    <ul>
        <li><a href="../index.html">Home</a></li>
        <li><a href="clubdetails.html">Club Details</a>
            <ul>
                <li><a href="clubcalendar.html">Club Calendar</a></li>
        </li>
    </ul>
        <li><a href="aboutus.html">About Us</a>
            <ul>
                <li><a href="contactus.html">Contact Us</a></li>
                <li><a href="sponsors.html">Sponsors</a>
                </li>
            </ul>
        </li>
        <li><a href="teams.html">Teams</a>
            <ul>
                <li><a href="mens1.html">Mens 1</a></li>
                <li><a href="womens1.html">Womens 1</a></li>
            </ul>
        </li>
               <li><a href="http://www.teamshopbuilder.co.uk/lisnagarveyhockeyclub/findProdByShopId.action">Club Shop</a></li>
        </li>

    </ul>
</nav>
</div>
<hr>
<center><p style="font-size:50px; color:white;">News</p></center>
<hr>


<div class="container">

        <center><p style="font-size:25px; color:white;">Training for kids</p></center>
        <hr>
            <center><img style="border:5px solid" src="../images/download.jpg"height="250" width="400"></img></center>
            <hr>
            <p style="font-size:20px; color:white;">

<center><p style="font-size:20px; color:white;">Tots will return on Sunday 6th March at 10am. Registration is now live</p>

<p style="font-size:20px; color:white;">GarveyTots will restart on Sunday 6th March at 10am.</p>
<p style="font-size:20px; color:white;">This is always very popular so get signed up quickly. Cost remains at only £5 per session. All kids age 3 to P3 welcome.</p>

<p style="font-size:20px; color:white;">Registration is now live and should be completed by clicking on this link.</p>
<p style="font-size:20px; color:white;">Please complete a form for each child you wish to attend.</p>
<p style="font-size:20px; color:black;">Updated 19:20 - 21 Feb 2016 by John Gray</p></center>

<hr>

    <center><p style="font-size:25px; color:white;">Youth Section</p></center>

<hr>

 <center><img style="border:5px solid" src="../images/youth.jpg"height="250" width="400"></img></center>
 <hr>


<center><p style="font-size:20px; color:white;">Youth section finishes for Christmas on 11th December and resumes on 15th January</p>

<p style="font-size:20px; color:white;">Our youth section resumes a week later than planned this week. </p>
<p style="font-size:20px; color:white;">Here are the times and dates you'll need to know.</p>

<p style="font-size:20px; color:white;">Please note any cancellations due to weather will be posted to this website, Facebook and Twitter as soon as a decision is made.</p>

<p style="font-size:20px; color:white;">Term 1: 11th September to 23rd October
(Halloween Break)</p>
<p style="font-size:20px; color:white;">Term 2: 6th November to 11th December
(Christmas Break)</p>
<p style="font-size:20px; color:white;">Term 3: 15th January to 18th March</p>

<p style="font-size:20px; color:white;">Friday Night Sessions</p>
<p style="font-size:20px; color:white;">U12-U15 girls 6-7pm</p>
<p style="font-size:20px; color:white;">U12-U15 boys 7-8pm</p>

<p style="font-size:20px; color:white;">Saturday Morning Sessions</p>
<p style="font-size:20px; color:white;">P4-P7 boys and girls 8.45-9.45 am</p>

<p style="font-size:20px; color:white;">Sunday Morning Sessions (when running)</p>
<p style="font-size:20px; color:white;">Tots 10-11 am</p>

<p style="font-size:20px; color:black;">Updated 21:32 - 15 Nov 2015 by John Gray</p></center>
<hr>
    </div>




<footer>
</footer>

</body>
</html>
