<!doctype html>
<head>
    <title> Sponsors - Lisnagarvey Hockey Club</title>
    <link rel="icon" type="image/png" href="C:\Users\Micha_000\Desktop\images/lhc.png" size="16x16">
	<link rel="stylesheet" type="text/css" href="cstyles.css"</link>
    <link rel="bootstrap" type="text/css" href="bootstrap.css"</link>
<head>

<body>

<header align="center">
   <a href="C:\Users\Micha_000\Desktop\hockey\homepage.html"><img src="C:\Users\Micha_000\Desktop\images/header.png" height="250" width="150"></img></a>
   <center> <a href="https://www.facebook.com/Lisnagarvey-Hockey-Club-127536638283/"><img src="C:\Users\Micha_000\Documents\My Web Sites\mysite\images/facebook.jpg" height="25" width="25"></img></a>
    <a href="https://twitter.com/lisnagarveyhc?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><img src="C:\Users\Micha_000\Documents\My Web Sites\mysite\images/twitter.jpg" height="25" width="25"></img></a></center>
</header>

<div id="nav">
<nav align="center">
    <ul>
        <li><a href="C:\Users\Micha_000\Desktop\hockey\homepage.html">Home</a>
        <li><a href="C:\Users\Micha_000\Desktop\hockey\clubdetails.html">Club Details</a>
            <ul>
                <li><a href="C:\Users\Micha_000\Desktop\hockey\clubcalendar.html">Club Calender</a></li>
                <li><a href="C:\Users\Micha_000\Desktop\hockey\news.htmls">News</a></li>
            </ul>
        </li>
        </li>
        <li><a href="C:\Users\Micha_000\Desktop\hockey\aboutus.html">About Us</a>
            <ul>
                <li><a href="C:\Users\Micha_000\Desktop\hockey\contactus.html">Contact Us</a></li>
                </li>
            </ul>
        </li>
        <li><a href="C:\Users\Micha_000\Desktop\hockey\teams.html">Teams</a>
            <ul>
                <li><a href="C:\Users\Micha_000\Desktop\hockey\mens1.html">Mens 1</a></li>
                <li><a href="C:\Users\Micha_000\Desktop\hockey\womens1.html">Womens 1</a></li>
            </ul>
        </li>
               <li><a href="http://www.teamshopbuilder.co.uk/lisnagarveyhockeyclub/findProdByShopId.action">Club Shop</a></li>
    </ul>
</nav>
</div>
<hr>
<center><p style="font-size:50px; color:white;">Our Sponsors</p></center>
<hr>

<div class="container">
    <div class="column-left">

<center><a href="http://www.asdongroup.com/"><img style="border:5px solid; color:black" img src="C:\Users\Micha_000\Desktop\images/asdon.png" height="150" width="300"></img></center></a>

<center><a href="http://www.seremotors.com/"><img style="border:5px solid; color:black" img src="C:\Users\Micha_000\Desktop\images/sponsor.png" height="150" width="300"></img></center></a>

<center><a href="http://www.ccgsolutions.co.uk/"><img style="border:5px solid; color:black" img src="C:\Users\Micha_000\Desktop\images/ccg.jpg" height="150" width="300"></img></center></a>

<center><a href="http://www.northstone-ni.co.uk/"><img style="border:5px solid; color:black" img src="C:\Users\Micha_000\Desktop\images/northstone.jpg" height="150" width="300"></img></center></a>

<center><a href="http://www.srankin.co.uk/"><img style="border:5px solid; color:black" img src="C:\Users\Micha_000\Desktop\images/sranking.jpg" height="150" width="300"></img></center></a>

<center><a href="http://www.irwinfuels.co.uk/"><img style="border:5px solid; color:black" img src="C:\Users\Micha_000\Desktop\images/irwin.jpg" height="150" width="300"></img></center></a><hr>
    </div>
    <div class="column-right">

<center><a href="http://mulhollandbutchers.com/"><img style="border:5px solid; color:black" img src="C:\Users\Micha_000\Desktop\images/butchers.jpg" height="150" width="300"></img></center></a>
<center><a href="http://www.hilltopvendingsolutions.co.uk/"><img style="border:5px solid; color:black" img src="C:\Users\Micha_000\Desktop\images/hilltop.jpg" height="150" width="300"></img></center></a>

<center><a href="http://www.dfcbelfast.co.uk/"><img style="border:5px solid; color:black" img src="C:\Users\Micha_000\Desktop\images/dfc.jpg" height="150" width="300"></img></center></a>

<center><a href="http://www.oasis-travel.co.uk/"><img style="border:5px solid; color:black" img src="C:\Users\Micha_000\Desktop\images/oasis.jpg" height="150" width="300"></img></center></a>

<center><a href="http://www.total-hockey.com/"><img style="border:5px solid; color:black" img src="C:\Users\Micha_000\Desktop\images/th.jpg" height="150" width="300"></img></center></a>

<center><a href="http://www.pancreaticcancer.org.uk/"><img style="border:5px solid; color:black" img src="C:\Users\Micha_000\Desktop\images/research.jpg" height="150" width="300"></img></center></a><hr>
    </div>

    <div class="column-center">
<center><a href="http://www.dpd.co.uk/"><img style="border:5px solid; color:black" img src="C:\Users\Micha_000\Desktop\images/dpd.jpg" height="150" width="300"></img></center></a>

<center><a href="http://www.johnston-kennedy.com/"><img style="border:5px solid; color:black" img src="C:\Users\Micha_000\Desktop\images/johnson.jpg" height="150" width="300"></img></center></a>

<center><a href="http://www.kukrisports.co.uk/"><img style="border:5px solid; color:black" img src="C:\Users\Micha_000\Desktop\images/kukri.jpg" height="150" width="300"></img></center></a>

<center><a href="http://www.remusuomo.com/en/about.aspx"><img style="border:5px solid; color:black" img src="C:\Users\Micha_000\Desktop\images/remus.jpg" height="150" width="300"></img></center></a>

<center><a href="http://www.skoolsports.org/"><img style="border:5px solid; color:black" img src="C:\Users\Micha_000\Desktop\images/skoolsports.jpg" height="150" width="300"></img></center></a>
    </div>
</div>

<div class="hr">
    <hr>
        </div>
</body>
</html>
