<!doctype html>
<head>
    <title> Sponsors - Lisnagarvey Hockey Club</title>
    <link rel="icon" type="image/png" href="../images/lhc.png" size="16x16">
	<link rel="stylesheet" type="text/css" href="../css/styles.css"</link>
    <link rel="bootstrap" type="text/css" href="../css/bootstrap.css"</link>
<head>

<body id="sponsors">

<header align="center">
   <a href="../index.html"><img src="../images/header.png" height="250" width="150"></img></a>
   <center> <a href="https://www.facebook.com/Lisnagarvey-Hockey-Club-127536638283/"><img src="../images/facebook.jpg" height="25" width="25"></img></a>
    <a href="https://twitter.com/lisnagarveyhc?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><img src="../images/twitter.jpg" height="25" width="25"></img></a></center>
</header>

<div id="nav">
<nav align="center">
    <ul>
        <li><a href="../index.html">Home</a>
        <li><a href="clubdetails.html">Club Details</a>
            <ul>
                <li><a href="clubcalendar.html">Club Calender</a></li>
                <li><a href="news.htmls">News</a></li>
            </ul>
        </li>
        </li>
        <li><a href="aboutus.html">About Us</a>
            <ul>
                <li><a href="contactus.html">Contact Us</a></li>
                </li>
            </ul>
        </li>
        <li><a href="teams.html">Teams</a>
            <ul>
                <li><a href="mens1.html">Mens 1</a></li>
                <li><a href="womens1.html">Womens 1</a></li>
            </ul>
        </li>
               <li><a href="http://www.teamshopbuilder.co.uk/lisnagarveyhockeyclub/findProdByShopId.action">Club Shop</a></li>
    </ul>
</nav>
</div>
<hr>
<center><p style="font-size:50px; color:white;">Our Sponsors</p></center>
<hr>

    <div class="container">
        <div>
            <a href="http://www.asdongroup.com/"><img style="border:5px solid; color:black" img src="../images/asdon.png" height="150" width="300"></img>
            </a>
            <a href="http://www.seremotors.com/"><img style="border:5px solid; color:black" img src="../images/sponsor.png" height="150" width="300"></img>
            </a>
            <a href="http://www.ccgsolutions.co.uk/"><img style="border:5px solid; color:black" img src="../images/ccg.jpg" height="150" width="300"></img>
            </a>

            <a href="http://www.northstone-ni.co.uk/"><img style="border:5px solid; color:black" img src="../images/northstone.jpg" height="150" width="300"></img>
            </a>

            <a href="http://www.srankin.co.uk/"><img style="border:5px solid; color:black" img src="../images/sranking.jpg" height="150" width="300"></img></a>

            <a href="http://www.irwinfuels.co.uk/"><img style="border:5px solid; color:black" img src="../images/irwin.jpg" height="150" width="300"></img></a>

            <a href="http://mulhollandbutchers.com/"><img style="border:5px solid; color:black" img src="../images/butchers.jpg" height="150" width="300"></img></a>

            <a href="http://www.hilltopvendingsolutions.co.uk/"><img style="border:5px solid; color:black" img src="../images/hilltop.jpg" height="150" width="300"></img></a>
            
            <a href="http://www.dfcbelfast.co.uk/"><img style="border:5px solid; color:black" img src="../images/dfc.jpg" height="150" width="300"></img></a>

            <a href="http://www.oasis-travel.co.uk/"><img style="border:5px solid; color:black" img src="../images/oasis.jpg" height="150" width="300"></img></a>

            <a href="http://www.total-hockey.com/"><img style="border:5px solid; color:black" img src="../images/th.jpg" height="150" width="300"></img></a>

            <a href="http://www.pancreaticcancer.org.uk/"><img style="border:5px solid; color:black" img src="../images/research.jpg" height="150" width="300"></img></a>

            <a href="http://www.dpd.co.uk/"><img style="border:5px solid; color:black" img src="../images/dpd.jpg" height="150" width="300"></img></a>
                
            <a href="http://www.johnston-kennedy.com/"><img style="border:5px solid; color:black" img src="../images/johnson.jpg" height="150" width="300"></img></a>

            <a href="http://www.kukrisports.co.uk/"><img style="border:5px solid; color:black" img src="../images/kukri.jpg" height="150" width="300"></img></a>
                
            <a href="http://www.remusuomo.com/en/about.aspx"><img style="border:5px solid; color:black" img src="../images/remus.jpg" height="150" width="300"></img></a>

            <center>
                <a href="http://www.skoolsports.org/"><img style="border:5px solid; color:black" img src="../images/skoolsports.jpg" height="150" width="300"></img></a>
            </center>

        </div>
    </div>
    <hr>
</body>
</html>
