<!doctype html>
<head>
	<link rel="stylesheet" type="text/css" href="styles.css"</link>
    <link rel="bootstrap" type="text/css" href="bootstrap.css"</link>
<head>

<body>

<header align="center">
    <a href="C:\Users\Micha_000\Desktop\hockey\homepage.html"><img src="C:\Users\Micha_000\Desktop\images/header.png" height="250" width="150"></img></a>
</header>

<div id="nav">
<nav align="center">
    <ul>
        <li><a href="C:\Users\Micha_000\Desktop\hockey\homepage.html">Home</a>
        <li><a href="C:\Users\Micha_000\Desktop\hockey\clubdetails.html">Club Details</a>
            <ul>
                <li><a href="C:\Users\Micha_000\Desktop\hockey\clubcalendar.html">Club Calender</a></li>
                <li><a href="C:\Users\Micha_000\Desktop\hockey\news.html">News</a></li>
        </li>
    </ul>
        <li><a href="C:\Users\Micha_000\Desktop\hockey\aboutus.html">About Us</a>
            <ul>
                <li><a href="C:\Users\Micha_000\Desktop\hockey\contactus.html">Contact Us</a></li>
                <li><a href="C:\Users\Micha_000\Desktop\hockey\sponsors.html">Sponsors</a>
                    <ul>
                        <li><a href="#">Equipment Sponsors</a></li>
                    </ul>
                </li>
            </ul>
        </li>
                <li><a href="C:\Users\Micha_000\Desktop\hockey\teams.html">Teams</a>
            <ul>
                <li><a href="C:\Users\Micha_000\Desktop\hockey\mens1.html">Mens 1</a></li>
                <li><a href="C:\Users\Micha_000\Desktop\hockey\womens1.html">Womens 1</a></li>
            </ul>
        </li>
    </ul>
</nav>
</div>
<hr>
<center><p style="font-size:50px">Welcome to Lisnagarvey Hockey Club</p></center>
<hr>

<div id="marquee">
    <marquee behavior="scroll" direction="left">
        <img style="border:5px solid" src="C:\Users\Micha_000\Desktop\images/one.png">
        <img style="border:5px solid" src="C:\Users\Micha_000\Desktop\images/two.png">
        <img style="border:5px solid" src="C:\Users\Micha_000\Desktop\images/three.png">
    </marquee>
</div>
<hr>


<div id="content">
<p style="font-size:20px">AAAAA</p>
</div>





<footer>
</footer>

</body>
</html>
