<!doctype html>
<head>
    <title> Teams - Lisnagarvey Hockey Club</title>
    <link rel="icon" type="image/png" href="../images/lhc.png" size="16x16">
	<link rel="stylesheet" type="text/css" href="../css/styles.css"</link>
    <link rel="bootstrap" type="text/css" href="../css/bootstrap.css"</link>
<head>

<body id="teams">

<header align="center">
    <a href="../index.html"><img src="../images/header.png" height="250" width="150"></img></a>
    <center> <a href="https://www.facebook.com/Lisnagarvey-Hockey-Club-127536638283/"><img src="../images/facebook.jpg" height="25" width="25"></img></a>
    <a href="https://twitter.com/lisnagarveyhc?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><img src="../images/twitter.jpg" height="25" width="25"></img></a></center>
</header>

<div id="nav">
<nav align="center">
    <ul>
        <li><a href="../index.html">Home</a>
        <li><a href="clubdetails.html">Club Details</a>
            <ul>
                <li><a href="clubcalendar.html">Club Calender</a></li>
                <li><a href="news.html">News</a></li>
        </li>
    </ul>
        <li><a href="aboutus.html">About Us</a>
            <ul>
                <li><a href="contactus.html">Contact Us</a></li>
                <li><a href="sponsors.html">Sponsors</a>
                </li>
            </ul>
        </li>
        <li><a href="teams.html">Teams</a>
            <ul>
                <li><a href="mens1.html">Mens 1</a></li>
                <li><a href="womens1.html">Womens 1</a></li>
            </ul>
        </li>
               <li><a href="http://www.teamshopbuilder.co.uk/lisnagarveyhockeyclub/findProdByShopId.action">Club Shop</a></li>
        </li>

</nav>
</div>
<hr>
<center><p style="font-size:50px"><font face="georgia" color="white">Teams</font></p></center>
<hr>
 <center><p style="width=50px;"><font face="georgia" color="white"><font size="5">
    Lisnagarvey host ten senior teams, five youth teams and eight mini teams. Each category is measured by the players age and overall skill level which ultimately leads better players who are in senior for example, would be in M1 or W1. Mens 1 and Womens 1 are listed here as these are the main teams that represent Lisnagarvey and have the pleasure of representing Northern Ireland and Ireland in general. Players that have the default template are yet to be filled with images of players when appropriate.
</p></center>
<hr>
<div class="container">
    <div class="column-left">
        <center><p style="width=50px;"><font face="georgia" color="white"><font size="4">Mens 1</p><hr>
            </center>
            <center><a href="mens1.html"
                    ><img style="border:5px solid; color:black" img src="../images/squad1.jpg" height="300" width="400"></img>
                </center></a>
                <hr>
                <center><p style="width=50px;"><font face="georgia" color="white"><font size="4">Staff/Coaches</p></center>
                <hr>


<center><p style="width=50px;"><font face="georgia" color="white"><font size="4">Erroll Lutton</p></center>

<center><img style="border:5px solid; color:black" img src="../images/coach.jpg" height="200" width="200"></img></center>

<center><p style="width=50px;"><font face="georgia" color="white"><font size="4">Bruce Agnew</p></center>

<center><img style="border:5px solid; color:black" img src="../images/template.png" height="200" width="200"></img></center>
<hr>

<center><p style="width=50px;"><font face="georgia" color="white"><font size="4">Players - Defenders</p></center>
<hr>



<center><p style="width=50px;"><font face="georgia" color="white"><font size="4">Paul Gleghorne</p></center>
<center><p style="width=50px;"><font face="georgia" color="white"><font size="3">Defender</p></center>

<center><img style="border:5px solid; color:black" img src="../images/template.png" height="200" width="200"></img></center>
<hr>

<center><p style="width=50px;"><font face="georgia" color="white"><font size="4">James Milliken</p></center>
<center><p style="width=50px;"><font face="georgia" color="white"><font size="3">Goal Keeper</p></center>


<center><img style="border:5px solid; color:black" img src="../images/template.png" height="200" width="200"></img></center>
<hr>
<center><p style="width=50px;"><font face="georgia" color="white"><font size="4">Jonathan Bell</p></center>
<center><p style="width=50px;"><font face="georgia" color="white"><font size="3">Defender</p></center>


<center><img style="border:5px solid; color:black" img src="../images/defender.jpg" height="200" width="200"></img></center>
<hr>

<center><p style="width=50px;"><font face="georgia" color="white"><font size="4">Steven Arbuthnot</p></center>
<center><p style="width=50px;"><font face="georgia" color="white"><font size="3">Defender</p></center>


<center><img style="border:5px solid; color:black" img src="../images/template.png" height="200" width="200"></img></center>
<hr>
<center><p style="width=50px;"><font face="georgia" color="white"><font size="4">James Lorimer</p></center>
<center><p style="width=50px;"><font face="georgia" color="white"><font size="3">Defender</p></center>


<center><img style="border:5px solid; color:black" img src="../images/template.png" height="200" width="200"></img></center>
<hr>


<center><p style="width=50px;"><font face="georgia" color="white"><font size="4">Mark McNellis</p></center>
<center><p style="width=50px;"><font face="georgia" color="white"><font size="3">Defender</p></center>

<center><img style="border:5px solid; color:black" img src="../images/template.png" height="200" width="200"></img></center>
<hr>

<center><p style="width=50px;"><font face="georgia" color="white"><font size="4">John Tormey</p></center>
<center><p style="width=50px;"><font face="georgia" color="white"><font size="3">Goal Keeper</p></center>


<center><img style="border:5px solid; color:black" img src="../images/template.png" height="200" width="200"></img></center>
<hr>

<center><p style="width=50px;"><font face="georgia" color="white"><font size="4">Jonny Quigley</p></center>
<center><p style="width=50px;"><font face="georgia" color="white"><font size="3">Defender</p></center>


<center><img style="border:5px solid; color:black" img src="../images/defender2.jpg" height="200" width="200"></img></center>
<hr>
<center><p style="width=50px;"><font face="georgia" color="white"><font size="4">Players - Midfielders</p></center>
<hr>

<center><p style="width=50px;"><font face="georgia" color="white"><font size="4">Ryan Getty</p></center>
<center><p style="width=50px;"><font face="georgia" color="white"><font size="3">Midfield</p></center>


<center><img style="border:5px solid; color:black" img src="../images/template.png" height="200" width="200"></img></center>
<hr>
<center><p style="width=50px;">Neil Glassey<font face="georgia" color="white"><font size="4"></p></center>
<center><p style="width=50px;"><font face="georgia" color="white"><font size="3">Midfield</p></center>

<center><img style="border:5px solid; color:black" img src="../images/template.png" height="200" width="200"></img></center>
<hr>
<center><p style="width=50px;"><font face="georgia" color="white"><font size="4">Paul Ritchie</p></center>
<center><p style="width=50px;"><font face="georgia" color="white"><font size="3">Midfield</p></center>

<center><img style="border:5px solid; color:black" img src="../images/template.png" height="200" width="200"></img></center>
<hr>
<center><p style="width=50px;"><font face="georgia" color="white"><font size="4">Daniel Buser</p></center>
<center><p style="width=50px;"><font face="georgia" color="white"><font size="3">Midfield</p></center>

<center><img style="border:5px solid; color:black" img src="../images/template.png" height="200" width="200"></img></center>
<hr>

<center><p style="width=50px;"><font face="georgia" color="white"><font size="4">Peter MacDonnell</p></center>
<center><p style="width=50px;"><font face="georgia" color="white"><font size="3">Midfield</p></center>

<center><img style="border:5px solid; color:black" img src="../images/midfielder.jpg" height="200" width="200"></img></center>
<hr>
<center><p style="width=50px;"><font face="georgia" color="white"><font size="4">Richard Arneill</p></center>
<center><p style="width=50px;"><font face="georgia" color="white"><font size="3">Midfield</p></center>

<center><img style="border:5px solid; color:black" img src="../images/mid.jpg" height="200" width="200"></img></center>
<hr>
<center><p style="width=50px;"><font face="georgia" color="white"><font size="4">Sean Murray</p></center>
<center><p style="width=50px;"><font face="georgia" color="white"><font size="3">Midfield</p></center>

<center><img style="border:5px solid; color:black" img src="../images/template.png" height="200" width="200"></img></center>
<hr>

<center><p style="width=50px;"><font face="georgia" color="white"><font size="4">Players - Attackers</p></center>
<hr>

<center><p style="width=50px;"><font face="georgia" color="white"><font size="4">Andy Forrest</p></center>
<center><p style="width=50px;"><font face="georgia" color="white"><font size="3">Forward</p></center>

<center><img style="border:5px solid; color:black" img src="../images/template.png" height="200" width="200"></img></center>
<hr>


<center><p style="width=50px;"><font face="georgia" color="white"><font size="4">Matthew Nelson</p></center>
<center><p style="width=50px;"><font face="georgia" color="white"><font size="3">Forward</p></center>

<center><img style="border:5px solid; color:black" img src="../images/template.png" height="200" width="200"></img></center>
<hr>



<center><p style="width=50px;"><font face="georgia" color="white"><font size="4">Timothy Cockram</p></center>
<center><p style="width=50px;"><font face="georgia" color="white"><font size="3">Forward</p></center>

<center><img style="border:5px solid; color:black" img src="../images/template.png" height="200" width="200"></img></center>
<hr>



<center><p style="width=50px;"><font face="georgia" color="white"><font size="4">Daniel Nelson</p></center>
<center><p style="width=50px;"><font face="georgia" color="white"><font size="3">Forward</p></center>

<center><img style="border:5px solid; color:black" img src="../images/template.png" height="200" width="200"></img></center>
<hr>



<center><p style="width=50px;"><font face="georgia" color="white"><font size="4">Andrew Williamson</p></center>
<center><p style="width=50px;"><font face="georgia" color="white"><font size="3">Forward</p></center>

<center><img style="border:5px solid; color:black" img src="../images/template.png" height="200" width="200"></img></center>
<hr>

<!--/////////////////////////////////-->


</div>

<div class="column-right">
        <center><p style="width=50px;"><font face="georgia" color="white"><font size="4">Womens 1</p><hr></center>
    <center><a href="womens1.html"><img style="border:5px solid; color:black" img src="../images/squad2.jpg" height="300" width="400"></img></center></a>

<hr>
<center><p style="width=50px;"><font face="georgia" color="white"><font size="4">Staff/Coaches</p></center>
<hr>


<center><p style="width=50px;"><font face="georgia" color="white"><font size="4">Mark Murray</p></center>

<center><img style="border:5px solid; color:black" img src="../images/template.png" height="200" width="200"></img></center>

<center><p style="width=50px;"><font face="georgia" color="white"><font size="4">Simon Toole</p></center>

<center><img style="border:5px solid; color:black" img src="../images/template.png" height="200" width="200"></img></center>

<center><p style="width=50px;"><font face="georgia" color="white"><font size="4">David Agnew</p></center>

<center><img style="border:5px solid; color:black" img src="../images/template.png" height="200" width="200"></img></center>
<hr>

<center><p style="width=50px;"><font face="georgia" color="white"><font size="4">Players - Defenders</p></center>
<hr>

<center><p style="width=50px;"><font face="georgia" color="white"><font size="4">Caroline Reid</p></center>
<center><p style="width=50px;"><font face="georgia" color="white"><font size="3">Goal Keeper</p></center>


<center><img style="border:5px solid; color:black" img src="../images/template.png" height="200" width="200"></img></center>
<hr>

<center><p style="width=50px;"><font face="georgia" color="white"><font size="4">Players - Midfielders</p></center>
<hr>


<center><p style="width=50px;">Eimear Gourley<font face="georgia" color="white"><font size="4"></p></center>
        <center><p style="width=50px;"><font face="georgia" color="white"><font size="3">Midfield</p></center>

<center><img style="border:5px solid; color:black" img src="../images/template.png" height="200" width="200"></img></center>

<hr>
<center><p style="width=50px;"><font face="georgia" color="white"><font size="4">Players - Attackers</p></center>
<hr>

<center><p style="width=50px;">Anya Coffey<font face="georgia" color="white"><font size="4"></p></center>
<center><p style="width=50px;"><font face="georgia" color="white"><font size="3">Forward</p></center>

<center><img style="border:5px solid; color:black" img src="../images/template.png" height="200" width="200"></img></center>

<hr>
<center><p style="width=50px;"><font face="georgia" color="white"><font size="4">Players [Unlisted]</p></center>
<hr>

<center><p style="width=50px;">Nicola Mawhinney<font face="georgia" color="white"><font size="4"></p></center>
<center><p style="width=50px;"><font face="georgia" color="white"><font size="3">-</p></center>

<center><img style="border:5px solid; color:black" img src="../images/template.png" height="200" width="200"></img></center>
<hr>
<center><p style="width=50px;">Selena Brown<font face="georgia" color="white"><font size="4"></p></center>
<center><p style="width=50px;"><font face="georgia" color="white"><font size="3">-</p></center>

<center><img style="border:5px solid; color:black" img src="../images/template.png" height="200" width="200"></img></center>
<hr>

<center><p style="width=50px;">Stefanie McCullough<font face="georgia" color="white"><font size="4"></p></center>
<center><p style="width=50px;"><font face="georgia" color="white"><font size="3">-</p></center>

<center><img style="border:5px solid; color:black" img src="../images/template.png" height="200" width="200"></img></center>
<hr>

<center><p style="width=50px;">Jenna McQueen<font face="georgia" color="white"><font size="4"></p></center>
<center><p style="width=50px;"><font face="georgia" color="white"><font size="3">-</p></center>

<center><img style="border:5px solid; color:black" img src="../images/template.png" height="200" width="200"></img></center>
<hr>

<center><p style="width=50px;">Diane Robb<font face="georgia" color="white"><font size="4"></p></center>
<center><p style="width=50px;"><font face="georgia" color="white"><font size="3">-</p></center>

<center><img style="border:5px solid; color:black" img src="../images/template.png" height="200" width="200"></img></center>
<hr>

<center><p style="width=50px;">Laura Topley<font face="georgia" color="white"><font size="4"></p></center>
<center><p style="width=50px;"><font face="georgia" color="white"><font size="3">-</p></center>

<center><img style="border:5px solid; color:black" img src="../images/template.png" height="200" width="200"></img></center>
<hr>
</div>
</div>
</body>
</html>