<!doctype html>
<head>
    <title> Women's 1st Team - Lisnagarvey Hockey Club</title>
     <link rel="icon" type="image/png" href="../images/lhc.png" size="16x16">
    <link rel="stylesheet" type="text/css" href="../css/styles.css"</link>
    <link rel="bootstrap" type="text/css" href="../css/bootstrap.css"</link>
<head>

<body id="women1">

<header align="center">
    <a href="../index.html"><img src="../images/header.png" height="250" width="150"></img></a>
    <center> <a href="https://www.facebook.com/Lisnagarvey-Hockey-Club-127536638283/"><img src="../images/facebook.jpg" height="25" width="25"></img></a>
    <a href="https://twitter.com/lisnagarveyhc?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><img src="../images/twitter.jpg" height="25" width="25"></img></a></center>
</header>

<div id="nav">
<nav align="center">
    <ul>
        <li><a href="../index.html">Home</a>
        <li><a href="clubdetails.html">Club Details</a>
            <ul>
                <li><a href="clubcalendar.html">Club Calender</a></li>
                <li><a href="news.html">News</a></li>
            </ul>
        </li>
        </li>
        <li><a href="teams.html">Teams</a>
            <ul>
                <li><a href="mens1.html">Men's 1<sup>st</sup> Team</a></li>
            </ul>
        </li>
               <li><a href="http://www.teamshopbuilder.co.uk/lisnagarveyhockeyclub/findProdByShopId.action">Club Shop</a></li>
        </li>
</nav>
</div>
<hr>
<center><p style="font-size:50px; color:white;">Women's 1<sup>st</sup>  Hockey Team</p></center>
<hr>

<div align="left">
   <font face="georgia" color="white"><p style="width=50px;"><font size="6"><center>Score sheet</center></p></font><hr>
</div>
<div class="table">
<center><table border="1" style="width:80%">
  <tr>
    <td>September</td>
    <td><font face="georgia" color="red">Loss</font> 17th September VS Ballymoney Hockey Club [1-2]</td>      
    <td><font face="georgia" color="red">Loss</font> 19th September VS Queens Hockey Club [0-2]</td>
    <td><font face="georgia" color="green">Win</font> 23rd September VS Armagh Hockey Club [2-7]</td> 
    <td><font face="georgia" color="black">Draw</font> 26th September VS Ballymoney Hockey Club [2-2] </td> 
  </tr>
  <tr>
    <td>October</td>
    <td><font face="georgia" color="green">Win</font> 3rd October VS Armagh Hockey Club [6-2]</td>   
    <td><font face="georgia" color="green">Win</font> 10th October VS Dungannon Hockey Club [3-2]</td>
    <td><font face="georgia" color="red">Loss</font> 24th October VS Randalstown Hockey Club [3-1]</font> </td>
    <td><font face="georgia" color="red">Loss</font> 31st October VS Dungannon LHC [2-2] (Penalty)</td>
  </tr>
  <tr>
    <td>November</td>
    <td><font face="georgia" color="red">Loss</font> 2nd November VS Queens [5-0]</td>        
    <td><font face="georgia" color="red">Loss</font> 7th November VS Lurgan Hockey Club [2-1]</td>
    <td><font face="georgia" color="red">Loss</font> 14th November VS North Down Hockey Club [3-4]</td>
    <td><font face="georgia" color="green">Win</font> 21st November VS Portadown [4-3]</font></td> 
    <td><font face="georgia" color="red">Loss</font> 28th November VS Belfast Harelquins [6-3]</td>
  </tr>
  <tr>
    <td>December</td> 
    <td><font face="georgia" color="red">Loss</font> 5th December VS Queens [5-2]</td> 
    <td><font face="georgia" color="red">Loss</font> 12th December VS Ballymoney Hockey Club [2-1]</td> 
  </tr>
  <tr>
    <td>January</td> 
    <td><font face="georgia" color="green">Win</font> 9th January VS Armagh Ladies [1-2]</td> 
    <td><font face="georgia" color="yellow">Re-schedule</font> 16th January VS Dungannon Ladies</td>
    <td><font face="georgia" color="red">Loss</font> 23rd January VS Randalstown Ladies [2-4]</td>
    <td><font face="georgia" color="orange">Yet</font> to be played 30th January VS Lurgan Ladies</td>
  </tr>
  <tr>
    <td>February</td>
    <td><font face="georgia" color="black">Draw</font> 6th February VS Northdown Ladies [1-1] </td> 
    <td>Win 13th February VS Portadown Ladies [3-0]</td> 
    <td><font face="georgia" color="yellow">Re-schedule</font> 30th February VS Belfast Harlequins </td> 
  </tr>
</table>
</center>
</div>

<hr>
<div class="container">
    <div>
        <center><p style="width=50px;"><font face="georgia" color="white"><font size="5">Defenders</p></center><hr>

        <center><p style="width=50px;"><font face="georgia" color="white"><font size="4">Caroline Reid</p></center>
        <center><p style="width=50px;"><font face="georgia" color="white"><font size="3">Goal Keeper</p></center>
        <center><img style="border:5px solid; color:black" img src="../images/template.png" height="200" width="200"></img></center>
        <center><p style="width=50px;"><font face="georgia" color="white"><font size="4">[Unlisted]</p></center>
        <hr>

        <center><p style="width=50px;">Nicola Mawhinney<font face="georgia" color="white"><font size="4"></p></center>
        <center><p style="width=50px;"><font face="georgia" color="white"><font size="3">-</p></center>

        <center><img style="border:5px solid; color:black" img src="../images/template.png" height="200" width="200"></img></center>
        <hr>
        <center><p style="width=50px;">Selena Brown<font face="georgia" color="white"><font size="4"></p></center>
        <center><p style="width=50px;"><font face="georgia" color="white"><font size="3">-</p></center>

        <center><img style="border:5px solid; color:black" img src="../images/template.png" height="200" width="200"></img></center>
        <hr>

        <center><p style="width=50px;">Stefanie McCullough<font face="georgia" color="white"><font size="4"></p></center>
        <center><p style="width=50px;"><font face="georgia" color="white"><font size="3">-</p></center>

        <center><img style="border:5px solid; color:black" img src="../images/template.png" height="200" width="200"></img></center>
        <hr>
    </div>
    <div>
        <center><p style="width=50px;"><font face="georgia" color="white"><font size="5">Mid field</p></center><hr>

        <center><p style="width=50px;">Eimear Gourley<font face="georgia" color="white"><font size="4"></p></center>
            
        <center><p style="width=50px;"><font face="georgia" color="white"><font size="3">Midfield</p></center>

        <center><img style="border:5px solid; color:black" img src="../images/template.png" height="200" width="200"></img></center>

        <center><p style="width=50px;"><font face="georgia" color="white"><font size="4">[Unlisted]</p></center>
        <hr>
        
        <center><p style="width=50px;">Jenna McQueen<font face="georgia" color="white"><font size="4"></p></center>
        
        <center><p style="width=50px;"><font face="georgia" color="white"><font size="3">-</p></center>

        <center><img style="border:5px solid; color:black" img src="../images/template.png" height="200" width="200"></img></center>
        <hr>

        <center><p style="width=50px;">Diane Robb<font face="georgia" color="white"><font size="4"></p></center>
        <center><p style="width=50px;"><font face="georgia" color="white"><font size="3">-</p></center>

        <center><img style="border:5px solid; color:black" img src="../images/template.png" height="200" width="200"></img></center>
            <hr>

        <center><p style="width=50px;">Laura Topley<font face="georgia" color="white"><font size="4"></p></center>
        <center><p style="width=50px;"><font face="georgia" color="white"><font size="3">-</p></center>

        <center><img style="border:5px solid; color:black" img src="../images/template.png" height="200" width="200"></img></center>
    </div>
    <div>
        <center><p style="width=50px;"><font face="georgia" color="white"><font size="4">Forward</p></center>
        <hr>
        <center><p style="width=50px;">Anya Coffey<font face="georgia" color="white"><font size="4"></p></center>
        <center><p style="width=50px;"><font face="georgia" color="white"><font size="3">Forward</p></center>
        <center><img style="border:5px solid; color:black" img src="../images/template.png" height="200" width="200"></img></center>
        <hr>
    </div>
</div>
<hr>



<footer>
</footer>

</body>
</html>
